// Change default font family
$body-font-family: "Inter", system-ui, -apple-system, blinkmacsystemfont,
  "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
// Typography
// `-sm` suffix is the size at the small (and above) media query
$root-font-size: 15px; // Base font-size for rems
$font-size-1: 11px;
$font-size-1-sm: 11px;
$font-size-2: 11px; // h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 12px; // h5
$font-size-4: 15px;
$font-size-5: 15px; // h3
$font-size-6: 18px; // h2
$font-size-7: 23px;
$font-size-8: 35px; // h1
$font-size-9: 40px;
$font-size-10: 45px;
$font-size-10-sm: 50px;
// Colors
$grey-dk-300: #18191b; // grayscale primary
$grey-dk-250: #303236; // grayscale secondary
$grey-dk-200: #797e86; // grayscale tertiary
$blue-300: #0d4189; // blue dark
$blue-200: #0b5dd0; // blue memo
$blue-000: #f0f6fe; // blue light
$sidebar-color: $grey-dk-300;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-250;
$link-color: $blue-200;
$btn-primary-color: $blue-200;
$feedback-color: darken($sidebar-color, 0%);
$search-result-preview-color: $blue-200;
$nav-child-link-color: $grey-dk-250;
// Borders
$border: 0.5px solid;
// Grid system
$nav-width: 240px;
$nav-width-md: 240px;
$nav-list-item-height: $sp-7;
$content-width: 700px;
$header-height: 72px;
