<!-- Display this part of the footer on all pages but the 404 page -->
{% if page.title != 404 %}
<p>
  <a href="https://memo.bank">Memo&nbsp;Bank</a> est une banque indépendante pour les PME. Nous
  aidons les entreprises à grandir en leur proposant des services bancaires performants
  et l’accompagnement de banquiers expérimentés. Avec Memo&nbsp;Bank, les
  dirigeants et leurs équipes passent moins de temps sur le site de leur banque et plus de temps
  face à leurs clients.
</p>
{% endif %}
<p class="text-small text-grey-dk-100 mb-0">
  &copy; 2023 Memo&nbsp;Bank. Publié sous licence
  <a href="https://github.com/memobank/growth-guide/blob/main/LICENSE.txt">CC BY 4.0</a>. Hébergé
  sur <a href="https://pages.github.com">GitHub&nbsp;Pages</a>.
</p>
