<p>
  <a href="https://memo.bank">Memo&nbsp;Bank</a> est une banque indépendante
  pour les PME. Nous aidons les entreprises à grandir en leur proposant des
  <a href="https://memo.bank/fonctionnalites">services bancaires performants</a>
  et l’accompagnement de
  <a href="https://memo.bank/banquiers">banquiers expérimentés</a>. Avec
  Memo&nbsp;Bank, les dirigeants et leurs équipes passent moins de temps sur le
  site de leur banque et plus de temps face à leurs clients.
</p>
<p class="text-small text-grey-dk-100 mb-0">
  &copy; 2022 Memo&nbsp;Bank. Publié sous license
  <a href="https://github.com/memobank/growth-guide/blob/main/LICENSE.txt"
    >Creative Commons Attribution 4.0 International</a
  >. Hébergé sur <a href="https://pages.github.com">GitHub&nbsp;Pages</a>.
</p>
